{% extends "_base.html" %}


{% block title %}While You're There{% endblock %}
{% block description %}airrand is a location smart to-do list. Say what you need and where, and when you check in get your list sent back to you.{% endblock %}


{% block content %}
<h1 id="h1accountpage">about</h1>
    <p>
        airrand.com is a web application that follows your location check-ins and notifies you by email or sms
    when you check-in somewhere associated with a to-do item.
    </p>
    <p>
        Our goal is to provide relevant and helpful information to our customers, where and when they need it.
    </p>

<table border="0" cellpadding="0" cellspacing="0" id="aboutTable">
    <tr>
        <td>
            <img src="/img/mikepic.png" width="120" height="120" alt="Mike Massie" />
        </td>
        <td>
            <strong>Mike Massie</strong> Co-Founder / Design - Entrepreneur and Software Designer 
            with a passion for innovative social and mobile projects. Over a decade of experience in 
            mobile technology with a background in graphic design &amp; illustration. Creator of 
            Smart Alarm for iOS, &amp; lead designer for &#220;berTwitter before launching airrand.
        </td>
    </tr>
    <tr>
        <td>
            <img src="/img/bobpic.png" width="120" height="120" alt="Bob Ralian" />
        </td>
        <td>
            <strong>Bob Ralian</strong> Co-Founder / Development - Entrepreneur and Engineer with
            strong startup experience and skills across the development stack. Previously co-founded
            and sold ZingFu and GroupCard, both having earned a passionate following of millions of
            users. Experience with large brand Point-of-Sale promotions as VP of inComm, a leader in
            stored-value gift and prepaid products.
        </td>
    </tr>
</table>

<ul id="downloadList">
    <li>
        <a href="mailto:info@airrand.com" target="_blank">info@airrand.com</a>
    </li>
    <li>
        <a href="http://dl.dropbox.com/u/5181270/airrandpresskit.zip" target="_blank">Press Kit Download</a>
    </li>
</ul>
{% endblock %}
