{% extends "_base.html" %}


{% block title %}While You're There{% endblock %}
{% block description %}airrand is a location smart to-do list. Say what you need and where, and when you check in get your list sent back to you.{% endblock %}


{% block content %}
<h1 id="h1accountpage">Terms and Privacy</h1>

<h2>Terms</h2>
<p>
    airrand is not intended for users under the age of 13, and Service Provider does not knowingly collect personally identifiable
    information from users under the age of 13. Such users are expressly prohibited from submitting their personally identifiable
    information to us, and from using portions of the Service for which registration is required, any information submitted by
    such users will not knowingly be used, posted, or retained by us.
</p>
<p>
    You may not provide to or post on or through the service any graphics, text, photographs, images, video, audio or other
    material that constitutes junk mail, spam, advertising, and/or commercial offers. You may not repeat the same posting
    multiple times in a day or week.
</p>
<p>
    You agree not to use any obscene, indecent, or offensive language or to provide to or post on or through the service any
    graphics, text, photographs, images, video, audio or other material that is defamatory, abusive, bullying, harassing,
    racist, hateful, or violent.
</p>
<p>
    You may not provide to or post on or through the serviceany graphics, text, photographs, images, video, audio or other
    material that is encrypted, invades anyon's privacy, or illustrates, references or encourages conduct that would
    constitute a criminal offense, give rise to civil liability, or that otherwise violates any local, state, federal,
    national or international law or regulation (e.g., drug use, underage drinking). You agree to use the service only for
    lawful purposes and you acknowledge that your failure to do so may subject you to civil and criminal liability. Do not
    provide to or post on or through the service any graphics, text, photographs, images, video, audio or other material that
    includes instructions for weapon and/or explosive manufacture or use.
</p>
<p>
    You are responsible for ensuring that any graphics, text, photographs, images, video, audio or other material you provide
    to or post on the service, including without limitation in comments, or elsewhere, does not violate the copyright, trademark,
    trade secret or any other personal or proprietary rights of any third party or is provided or posted with the permission of
    the owner(s) of such rights.
</p>
<p>
    This service also contains other graphics, text, photographs, images, video, audio, software, code, and other material that
    is provided by Service Provider or its licensors and is not clearly identified as, or intended, for your use, including
    without limitation the organization, design, compilation, and "look and feel" of the Website, and advertising thereon
    ("Website Content"). The Website Content is protected by state, national and international copyright, trademark and
    other intellectual property laws, and is the property of Service Provider or its licensors. The copying, reproduction,
    publication, display, rearrangement, redistribution, modification, revision, alteration, cropping, re-sizing, reverse
    engineering, movement, removal, deletion, or other use or change by you, directly or indirectly, of any such Website
    Content, including but not limited to the removal or alteration of advertising, is strictly prohibited.
</p>
<p>
    You may not in any way make commercial or other unauthorized use, by publication, re-transmission, distribution, performance,
    caching, or otherwise, of material obtained through this service, including without limitation the Assets or Website Content,
    except as permitted by the Copyright Act or other law or as expressly permitted in writing by this Agreement, Service Provider
    or the Website.
</p>
<p>
    You agree not to disrupt, overwhelm, attack, modify, reverse engineer or interfere with the service or its associated
    software, hardware and/or servers in any way, and you agree not to impede or interfere with others' use of the Website.
</p>
<p>
    Other than connecting to Service Provider's servers by http requests using a Web browser, you may not attempt to gain
    access to Service Provider's servers by any means - including, without limitation, by using administrator passwords or
    by masquerading as an administrator while using the Website or otherwise.
</p>
<p>
    You acknowledge that Service Provider has not reviewed and does not endorse the content of all sites linked to from this
    Website and is not responsible for the content or actions of any other sites linked to from this Website. Your linking to
    any service or site is at your sole risk.
</p>
<p>


Comments by Others are not Endorsed by Service Provider:<br />
Service Provider does not necessarily endorse, support, sanction, encourage, verify, or agree with the comments, opinions,
or statements posted on comments or otherwise contained in the Website. Any information or material placed online, including
advice and opinions, are the views and responsibility of those who post the statements and do not necessarily represent the
views of Service Provider or its third party service providers. You agree that Service Provider and its third party service
providers are not responsible, and shall have no liability to you, with respect to any information or materials posted by
others, including defamatory, offensive or illicit material, even material that violates this Agreement.
</p>















<a name="privacy" id="privacy"></a>
<h2>Privacy</h2>
<p>
This Privacy Policy describes airrand's policies and procedures on the collection, use and disclosure of your information. airrand receives your information through our various web sites, SMS, APIs, services and third-parties ("Services"). When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country that you reside in or create information from, your information may be used by airrand in the United States or any other country where airrand operates.
</p>
<p>
If you have any questions or comments about this Privacy Policy, please contact us at support@airrand.com.
</p>
<h3>Information Collection and Use</h3>
<p>
Information Collected Upon Registration: When you create or reconfigure a airrand account, you provide some personal information, such as your name, email address, phone number, birthday, Twitter and/or Facebook usernames, use information regarding the use of our Service, and browser information. The Personal Information you provide is used for such purposes as allowing you to set up a user account and profile that can be used to interact with other users through the Service, improving the content of the Service, customizing the advertising and content you see, and communicating with you about specials and new features.
</p>
<h3>
Additional Information</h3>
<p>
Third Party Services: airrand uses services hosted by third parties to help provide our Services, and to help us understand the use of our Services, such as Google Analytics. These services may collect information sent by your browser as part of a web page request, such as cookies or your IP request.
</p>
<h3>Information Sharing and Disclosure</h3>
<p>
Your Consent: We may share or disclose your information with your consent, such as when you use a third party web client to access your airrand account.
</p>
<p>
    Service Providers: We engage certain trusted third parties to perform functions and provide services to us. We may share your personal information with these third parties, but only to the extent necessary to perform these functions and provide such services, and only pursuant to obligations mirroring the protections of this privacy policy.
</p>
<p>
    Law and Harm: We may disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect airrand's rights or property.
</p>
<p>
    Business Transfers: In the event that airrand is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this privacy policy will apply to your information as transferred to the new entity.
</p>
<p>

Non-Private or Non-Personal Information: We may share or disclose your non-private, aggregated or otherwise non-personal information.
</p>
<h3>
Modifying Your Personal Information</h3>
<p>
If you are a registered user of our Services, we provide you with tools to access or modify the personal information you provided to us and associated with your account.
</p>
<h3>Changes To This Policy</h3>
<p>
We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at <a href="http://www.airrand.com/terms-and-privacy">http://www.airrand.com/terms-and-privacy</a>. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an @airrand update or e-mail to the email associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
</p>







<br /><br /><br />
{% endblock %}
